body{

    background-color: rgb(245, 220, 220);
}



.container {

    background-color:
        rgb(254, 209, 209);
}
.principal{


    border: solid rgb(172, 69, 69) 6px;
    padding-bottom: 40px;
   
}

.main {

    display: flex;



}

.flecha{

    background-color: white;
    width: 3px;
}

.header {

width: 100%;
margin-top: -22px;

    background-color: rgb(225, 114, 114);
}

.frases{
margin-top: -37px;
    padding: 10px;
}

.imagen{

padding: 5px;
border: solid white 1px;
margin-left: 5px;

}

img {


    border-color: solid white 2px;
    box-sizing: border-box;
}

h1 {

    color: white;
    margin-left: 5px;

}

p {
    padding: 5px;

    line-height: 30px;
}



.a2 {
    color: red;
    font-weight: bold;
  
}

.a1 {

    color: red;
    font-weight: bold;
    margin-left: 20px;
}
.a3{

    color: black;
    font-weight: bold;
}

a4{

    border-color: solid green 1px;
    border-bottom: solid green 1px;
}

p2 {
    margin-top: 50px;

}