section{

    display: flex;
    justify-content: space-between;
    gap: 20px;
}

 .padre{

    border: solid black 2px;
   
    width: 80%;
    display: flex;
    flex-direction: column;

  
   
    
}  



#hijo{

    display: flex;
    background-color: rgb(216, 213, 213);
    margin: 0;
    padding: 0;
    
    
    
}

#titulo{

font-weight: bold;
font-size: 25px;
align-content: center;
width: 100%;
margin: 0;
background-color: rgb(216, 213, 213);



}
#img{

    width: 100px;
    border-bottom: solid black 2px;
    background-color: rgb(216, 213, 213);
    border-bottom-right-radius: 10px;
    border-right: solid black 2px;
    margin: 0;
    
   
}

p{

    margin-top: 1px;
    margin-left: 4px;}
