 header {
   text-align: center;
   padding: 20px;
 }

 header h1 {
   font-size: 2.5em;
   font-weight: bold;
   color: maroon;
   margin: 0;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 header nav {

   background-color: rgba(152, 160, 116, 0.712);
   height: 50px;
   display: flex;
   justify-content: center;
   margin-top: 20px;
   align-items: center;
 }

 header nav a {

   color: black;
   margin: auto;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 header nav a:hover {
   background-color: #59a9c9;
   /* Cambia el color de fondo al pasar el ratón */
   padding: 10px;
   /* Agrega  relleno al pasar el ratón */
   border-radius: 5px;
   /
 }

 html,
 body {
   height: 100%;
   margin: 0;
   padding: 0;
   position: relative;
 }

 body::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url('./bonit_vino.png');
   background-size: cover;
   /* Hace que la imagen cubra toda la página */
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   opacity: 0.2;
   /* Ajusta la transparencia */
   z-index: -1;
   /* Coloca la imagen detrás del contenido */
 }

 .introducion p {
   font-family: 'Georgia', serif;
   font-style: italic;
   color: #3e3e3e;
   font-size: 1.2em;
   line-height: 1.6;
   /* Espaciado entre líneas para mayor legibilidad */
   text-align: center;
   margin: 20px auto;
   max-width: 800px;
   padding: 20px;
   border-left: 4px solid #2f2f2f;

 }

 .foto {
   width: 50%;
   height: auto;
   /* Mantiene la proporción de la imagen */
   display: block;
   /* Hace que la imagen sea un bloque */
   margin: 0 auto;
 }

 .introducion img {
   width: 40%;
   height: auto;
   display: block;
   margin: 20px auto;
   border: 3px solid #2f2f2f;
   border-radius: 10px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
   /* Sombra para dar profundidad */
 }

 footer {
   background-color: rgb(152, 160, 116);
   height: 50px;
   display: flex;
   justify-content: center;
   margin-top: 85px;
 }

 /* Estilos específicos para la página de productos */
 .productos-page header {
   text-align: center;
   padding: 20px;
 }

 .productos-page header h1 {
   font-size: 2.5em;
   font-weight: bold;
   color: maroon;
   margin: 0;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .pago {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 1.2em;
   line-height: 1.6;
   text-align: left;
   margin: 20px auto;
   max-width: 800px;
   padding: 20px;
 }

 .pago-texto {
   flex: 1;
 }

 .pago img {

   width: 20%;
   height: auto;
   margin-left: 20px;
 }

 .boton-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100px;
   gap: 80px;
   
 }

 button {
   padding: 10px 20px;
   font-size: 1em;
   cursor: pointer;
   border-radius:5px ;
   font-family: 'Georgia', serif;
   border: solid black 2px;
   font-size: 18px;
 }

 /* Contenedor principal para el formulario */
 .formulario-container {
   max-width: 500px;
   margin: auto;
   padding: 10px;
   background-color: rgba(152, 160, 116, 0.452);
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 .formulario {
   display: flex;
   flex-direction: column;
 }

 .formulario p {
   margin-bottom: 5px;
   font-weight: bold;
 }

 .formulario input,
 .formulario textarea {
   width: 90%;
   padding: 10px;
   font-size: 1em;
   border: 1px solid #ccc;
   border-radius: 4px;
   margin-bottom: 15px;
 }

 .formulario textarea {
   height: 70px;
   resize: vertical;
 }

 .formulario button {
   padding: 10px 5px;
   font-size: 1em;
   background-color: #053605;
   color: white;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s;
 }

 .formulario button:hover {
   background-color: #3f2c72;
 }
 .btn-volver{
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #e8ebee;
  color: black;
  text-decoration: none;
  border: solid black 2px;
  border-radius: 5px;
  font-family: 'Georgia', serif;

 }
 .btn-formulario{
  display: inline-block;
  align-items: center;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #e8ebee;
  color: black;
  text-decoration: none;
  border: solid black 2px;
  border-radius: 5px;
  font-family: 'Georgia', serif;

 }
 .btn-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 20px; 
}