.boton {

    display: flex;

    justify-content: center;

}

.carrito {

    border: solid white 3px;
    min-height: 200vh;
}

.producto-carrito {

    padding: 3px;

}

.producto-carrito img {

    max-height: 70px;
}

.producto-carrito .precio {
    color: red;
    font-weight: bold;
}